[[!pagetemplate  template="page_postlist.tmpl" sylent]]
[[!meta title="<TMPL_VAR TAGNAME>"]]
[[!field 
	summary="Publicaciones relacionadas con <TMPL_VAR TAGNAME>"
	body_class="taglist"
	hashtag="#<TMPL_VAR TAGNAME>"
]]
<div class="row">
[[!inline pages="tagged(<TMPL_VAR TAG>) and lang(es) and field_null(hide)" show="30" actions="no" timeformat="%d/%m/%Y"
feeds=no id="2"]]
</div>
[[!inline pages="tagged(<TMPL_VAR TAG>) and lang(es) and field_null(hide)" feedonly=yes feedshow=30]]
