[[!pagetemplate  template="page_postlist.tmpl" sylent]]
[[!meta title="<TMPL_IF ISTRANSLATION>Tag<TMPL_ELSE>Etiqueta</TMPL_IF>: <TMPL_VAR TAGNAME>"]]
<div class="row">
[[!inline pages="tagged(<TMPL_VAR TAG>)" show="10" actions="no" timeformat="%d/%m/%Y"
feeds=no id="2"]]
</div>
[[!inline pages="tagged(<TMPL_VAR TAG>)" feedonly=yes feedshow=10]]
