  <div class="col-lg-3 text-center">
     <TMPL_IF LINK><a href="<TMPL_VAR LINK>"></TMPL_IF><img src="<TMPL_VAR LOGO>" title="<TMPL_VAR TITLE>" style="<TMPL_VAR STYLE>"><TMPL_IF LINK></a></TMPL_IF>
  </div>
