<section class="p-0" id="portfolio">
   <div class="container-fluid p-0">
      <div class="row no-gutters">
			[[!inline pages="field_item(featured yes)" show="9" template="inlinepage_featured" feeds=no postform=no]]
		</div>
	</div>
</section>