<div class="section-block bg-light top" id="<TMPL_VAR SECTION_ID>">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto text-center">
        <h2 class="section-heading text-darkred"><TMPL_VAR TITLE></h2>
        <hr>
        <div class="bibliohack_bkg-mobile hide-if-desktop">
        	 <img src="<TMPL_VAR IMG>">
        </div>
    	  <TMPL_VAR CONTENT>
        <img class="bibliohack_bkg hide-if-mobile" src="<TMPL_VAR IMG>">
      </div>
    </div>
  </div>
</div>
