<section class="bg-light" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <img id="bibliohack_bkg" src="/img/bibliohack_bkg.png" />
        <h2 class="section-heading text-darkred"><TMPL_VAR TITULO></h2>
        <hr class="light my-4">
    	  <TMPL_VAR TEXTO>
        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
      </div>
    </div>
  </div>
</section>

