<section class="bg-light slide">
<div class="container">
<div class="row no-gutters">
  <TMPL_UNLESS TEXTO_IZQ>
  <div class="col-lg-6 col-md-8 mx-auto ejes">
  	<div class="ejes-texto"><TMPL_VAR texto></div>
  </div>
  </TMPL_UNLESS>
  <div id="carousel_bbh-<TMPL_VAR cid>" class="carousel slide col-lg-6 col-md-8 mx-auto" data-ride="carousel" data-interval="false">
    <div class="carousel-inner" role="listbox">
      <div id="slide_uno-<TMPL_VAR cid>" class="carousel-item active" style="background-image: url(<TMPL_VAR item1_img>);">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h3 class="display-4">First Slide</h3> -->
          <p><TMPL_VAR item1_txt></p>
        </div>
      </div>
      <div id="slide_dos-<TMPL_VAR cid>" class="carousel-item" style="background-image: url(<TMPL_VAR item2_img>);">
        <div class="carousel-caption d-none d-md-block">
          <p><TMPL_VAR item2_txt></p>
        </div>
      </div>
	  <TMPL_IF item3_img>
      <div id="slide_tres-<TMPL_VAR cid>" class="carousel-item" style="background-image: url(<TMPL_VAR item3_img>);">
        <div class="carousel-caption d-none d-md-block">
          <p><TMPL_VAR item3_txt></p>
        </div>
      </div>
      </TMPL_IF>
	  <TMPL_IF item4_img>
      <div id="slide_tres-<TMPL_VAR cid>" class="carousel-item" style="background-image: url(<TMPL_VAR item4_img>);">
        <div class="carousel-caption d-none d-md-block">
          <p><TMPL_VAR item4_txt></p>
        </div>
      </div>
      </TMPL_IF>
    </div>
    <a class="carousel-control-prev" href="#carousel_bbh-<TMPL_VAR cid>" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel_bbh-<TMPL_VAR cid>" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <TMPL_IF TEXTO_IZQ>
  <div class="col-lg-6 col-md-8 mx-auto ejes">
  	<div class="ejes-texto"><TMPL_VAR texto></div>
  </div>
  </TMPL_IF>
</div>
</div>
</section>
