<div class="section-block ejes" id="<TMPL_VAR SECTION_ID>">
<div class="container ejes-header">
 <div class="row">
  <div class="col-lg-9 mx-auto text-center">
   <h2 class="section-heading text-darkred"><TMPL_VAR TITLE></h2>
   <hr>
  </div>
 </div> 
</div>