<!DOCTYPE html>
<html lang="<TMPL_IF LANG_CODE><TMPL_VAR LANG_CODE><TMPL_ELSE>es</TMPL_IF>">
<TMPL_INCLUDE NAME="includes/header.tmpl">
<body class="<TMPL_IF DYNAMIC>editing<TMPL_ELSE>post</TMPL_IF><TMPL_IF BODY_CLASS> <TMPL_VAR BODY_CLASS></TMPL_IF>">
   <!-- Standart Page -->
   <!-- Navigation -->
<TMPL_UNLESS DYNAMIC>
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
     <div class="container">
       <a class="navbar-brand" href="/"><span class="logo-marca"></span><span class="logo-marca-w"></span></a>
	    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	      <div class="bar"></div>
	      <div class="bar"></div>
	      <div class="bar"></div>
	    </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
			<TMPL_IF LANG_EN>
	        <li class="nav-item">
	          <a class="nav-link" href="/#top">About Bibliohack</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#ejes">What we do</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#section-html">Projects</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#recursos">Resources</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/posts/index.en.html">Blog</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#contact"><i class="fa fa-envelope"></i></a>
	        </li>
			<TMPL_ELSE>
	        <li class="nav-item">
	          <a class="nav-link" href="/#top">¿Qué es Bibliohack?</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#ejes">¿Qué hacemos?</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#section-html">Proyectos</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#recursos">Recursos</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/posts/index.es.html">Blog</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/#contact"><i class="fa fa-envelope"></i></a>
	        </li>
         </TMPL_IF>
         </ul>
       </div>
     </div>
   </nav>
</TMPL_UNLESS>
   <!-- Page -->

	<div class="page">
		<TMPL_UNLESS DYNAMIC>
		<div id="blog-logo-w"></div>
      </TMPL_UNLESS>	
	   <div class="pageheader">
         <div class="container">
          <div class="title-wrapper">
            <TMPL_IF PARENTLINKS>
            <TMPL_UNLESS DYNAMIC>
            <div class="bbh-breadcrumb">
          	   <TMPL_LOOP PARENTLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> / </TMPL_LOOP>
          	   <!-- <span class="active"><TMPL_VAR TITLE></span> -->
            </div>
            </TMPL_UNLESS>	
            </TMPL_IF>	
            <h1><TMPL_VAR TITLE></h1>
        		<TMPL_UNLESS DYNAMIC>
            <TMPL_IF SUMMARY>
            <div class="summary"><TMPL_VAR SUMMARY></div>
            </TMPL_IF>	
            </TMPL_UNLESS>
            <!-- <TMPL_IF ISTRANSLATION>&nbsp;(<TMPL_VAR PERCENTTRANSLATED>%)</TMPL_IF> -->
          </div>
         </div>
		</div>
		<div id="pagebody">
			<div class="container">
				<TMPL_UNLESS DYNAMIC>
			    <div class="meta-wrapper">
			    	<div class="share"><a href="#"><i class="fa fa-share-alt"></i> Compartir</a></div>
					<TMPL_IF AUTHOR>
			    	<img class="author-icon" src="/img/authors/<TMPL_VAR AUTHOR>.png" />
			    	<div class="author-name"><TMPL_VAR AUTHOR></div>
		    		<TMPL_ELSE>
			    	<img class="author-icon" src="/img/authors/bibliohack.png" />
			    	<div class="author-name">Bibliohack</div>
			   	</TMPL_IF>
			    	<div class="publication-date"><TMPL_VAR CTIME></div>
				 </div>
				</TMPL_UNLESS>
			  	 <div id="default-media">
               <TMPL_IF DYNAMIC>
			  	     <TMPL_IF DEFAULT_VIDEO>
     			  	   <div style="font-family: monospace;">
                     default-video: <TMPL_VAR DEFAULT_VIDEO>
                  </div>
			  	     </TMPL_IF>		  	      
  			  	     <TMPL_IF DEFAULT_IMG>               
   			  	   <div style="font-family: monospace;">
   			  	      <img style="max-width: 120px; margin-right: 15px;" src="<TMPL_VAR DEFAULT_IMG>_small.jpg" />default-img: <TMPL_VAR DEFAULT_IMG>
   		  	      </div>
			  	     </TMPL_IF>
			  	     
			  	   <TMPL_ELSE>

		  	        <TMPL_IF DEFAULT_VIDEO>
			  	      <div id="video-container" style="position:relative;">
			  	         <i id="play-icon" class="fa fa-play-circle"></i>
			  	         <video id="default-video" <TMPL_IF DEFAULT_VIDEO_POSTER>poster="<TMPL_VAR DEFAULT_VIDEO_POSTER>"</TMPL_IF>>
			  	            <source src="<TMPL_VAR DEFAULT_VIDEO>" type="video/mp4">
			  	         </video> 
			  	      </div>
			  	      <TMPL_IF DEFAULT_VIDEO_ALT>
			  	      <p class="epigrafe"><TMPL_VAR DEFAULT_VIDEO_ALT></p>
			  	      </TMPL_IF>
			  	     <TMPL_ELSE>
  			  	      <TMPL_IF DEFAULT_IMG>
			  	        <div class="default-img" style="background-image: url(<TMPL_VAR DEFAULT_IMG>_default.jpg);"></div>
			  	       <TMPL_IF DEFAULT_IMG_ALT>
			  	        <p class="epigrafe"><TMPL_VAR DEFAULT_IMG_ALT></p>
			  	       </TMPL_IF>
			  	      </TMPL_IF>
			  	     </TMPL_IF>
			  	     
               </TMPL_IF>
			  	 </div>
				<TMPL_UNLESS DYNAMIC>
  			    <div class="meta-wrapper movil">
  			    	<div class="share"><a href="#"><i class="fa fa-share-alt"></i> Compartir</a></div>
  					<TMPL_IF AUTHOR>
  			    	<img class="author-icon" src="/img/authors/<TMPL_VAR AUTHOR>.png" />
  			    	<div class="author-name"><TMPL_VAR AUTHOR></div>
  		    		<TMPL_ELSE>
  			    	<img class="author-icon" src="/img/authors/bibliohack.png" />
  			    	<div class="author-name">Bibliohack</div>
  			   	</TMPL_IF>
  			    	<div class="publication-date"><TMPL_VAR CTIME></div>
  				 </div>
				</TMPL_UNLESS>
			  <div id="content">  
			   <TMPL_VAR CONTENT>
			  </div>
			  
			  <TMPL_VAR TRAILS>
		
			  <TMPL_IF TAGS>
				<div class="tags">
			   <TMPL_LOOP TAGS><span># <TMPL_VAR LINK></span> </TMPL_LOOP>
				</div>
			  </TMPL_IF>
			
			  <TMPL_IF BACKLINKS>
			   <div id="backlinks">Enlaces:
			   <TMPL_LOOP BACKLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> </TMPL_LOOP>
			   <TMPL_IF MORE_BACKLINKS>
			   <span class="popup">...<span class="balloon">
			    <TMPL_LOOP MORE_BACKLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></TMPL_LOOP>
			   </span></span>
			   </TMPL_IF>
			  </TMPL_IF>
		
         </div>
      </div>
   </div>

   <!-- Footer -->
	<footer id="footer" class="pagefooter ">
		<div class="container main">
			<div class="row justify-content-center">
			   <div class="col-lg-2">
			   	<img class="logo-footer" src="/img/bh200-t.png">
			   </div>
			   <div class="col-lg-3">
	   		  <TMPL_IF LANG_EN>
			   	<p class="leyenda"><b>Bibliohack</b>
			   	<span>Opensource Technology <br>for Libraries, <br>Archives and Museums.</span></p>
			     <TMPL_ELSE>
			   	<p class="leyenda"><b>Bibliohack</b>
			   	<span>Tecnología libre <br>para Achivos, <br>Bibliotecas y Museos.</span></p>
			     </TMPL_IF>
			   </div>
			   <div class="col-lg-3">
	   		  <TMPL_IF LANG_EN>
			   	<a class="nav-link" href="/#top">About Bibliohack</a>
			   	<a class="nav-link" href="/#ejes">What We Do</a>
			   	<a class="nav-link" href="/#section-html">Projects</a>
			   	<a class="nav-link" href="http://codex.bibliohack.org" target="_blank">Codex</a>
			   	<a class="nav-link" href="/posts/index.en.html">Blog</a>
			     <TMPL_ELSE>
			   	<a class="nav-link" href="/#top">¿Qué es Bibliohack?</a>
			   	<a class="nav-link" href="/#ejes">¿Qué hacemos?</a>
			   	<a class="nav-link" href="/#section-html">Proyectos</a>
			   	<a class="nav-link" href="http://codex.bibliohack.org" target="_blank">Codex</a>
			   	<a class="nav-link" href="/posts/index.es.html">Novedades</a>
			     </TMPL_IF>
			   </div>
			   <div class="col-lg-3">
			   	<a class="nav-link" href="https://twitter.com/bibliohack" target="_blank"
			   		><i class="fa fa-twitter-square"></i> Twitter</a>
			   	<a class="nav-link" href="https://facebook.com/bibliohack" target="_blank"
			   		><i class="fa fa-facebook-square"></i> Facebook</a>
			   	<a class="nav-link" href="https://github.com/bibliohack"
			   		><i class="fa fa-github-square"></i> Github</a>
	   		  <TMPL_IF LANG_EN>
			   	<a class="nav-link" href="#contact"><i class="fa fa-envelope"></i> Contact</a>
			     <TMPL_ELSE>
			   	<a class="nav-link" href="#contact"><i class="fa fa-envelope"></i> Contacto</a>
			     </TMPL_IF>
			   </div>		
			</div><!-- /row -->
		</div><!-- /container -->
		<div class="container bottom-line">
			<div class="row text-center footer-extra">
	       	<div class="col">
	   		  <TMPL_IF LANG_EN>
					Last edited <TMPL_VAR MTIME><!-- Created <TMPL_VAR CTIME> --> | Powered by <a href="http://ikiwiki.info">Ikiwiki</a>
			     <TMPL_ELSE>
					Última edicióm <TMPL_VAR MTIME><!-- Creado <TMPL_VAR CTIME> --> | Funciona con <a href="http://ikiwiki.info">Ikiwiki</a>
			     </TMPL_IF>
				</div>
			</div>		
		</div>
	</footer>
	
   <!-- Sidebar -->

   <TMPL_UNLESS DYNAMIC>
   <nav id="sidebar" class="edit-element">
   
      <!-- <div class="sidebar-header"><h3>Bootstrap Sidebar</h3></div> -->
      <TMPL_IF HAVE_ACTIONS>
      <ul class="list-unstyled components">
        <TMPL_IF EDITURL>
         <li class="nav-item"><a class="nav-link" href="<TMPL_VAR EDITURL>" rel="nofollow">Editar</a></li>
        </TMPL_IF>
        <TMPL_IF RECENTCHANGESURL>
         <li class="nav-item"><a class="nav-link" href="<TMPL_VAR RECENTCHANGESURL>">RecentChanges</a></li>
        </TMPL_IF>
        <TMPL_IF HISTORYURL>
         <li class="nav-item"><a class="nav-link" href="<TMPL_VAR HISTORYURL>">Historial</a></li>
        </TMPL_IF>
        <TMPL_IF GETSOURCEURL>
         <li class="nav-item"><a class="nav-link" href="<TMPL_VAR GETSOURCEURL>">Código Fuente</a></li>
        </TMPL_IF>
        <TMPL_IF PREFSURL>
         <li class="nav-item"><a class="nav-link" href="<TMPL_VAR PREFSURL>">Preferencias</a></li>
        </TMPL_IF>
        <TMPL_IF ACTIONS>
         <a class="nav-item dropdown-toggle" href="#" 
           id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" 
           aria-expanded="false">Acciones</a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <TMPL_LOOP ACTIONS>
               <TMPL_VAR ACTION>
            </TMPL_LOOP>
           </div>
        </TMPL_IF>
        <TMPL_IF COMMENTSLINK>
         <li class="nav-item"><TMPL_VAR COMMENTSLINK></li>
        <TMPL_ELSE>
         <TMPL_IF DISCUSSIONLINK>
         <li class="nav-item"><TMPL_VAR DISCUSSIONLINK></li>
         </TMPL_IF>
        </TMPL_IF>
      </ul>
      </TMPL_IF>

      <ul class="list-unstyled components">
      
         <li><TMPL_VAR SIDEBAR></li>
      
         <TMPL_IF ENCLOSURE>
         <p id="enclosure">
            <a href="<TMPL_VAR ENCLOSURE>">Descargar</a>
         </p>
         </TMPL_IF>
   
         <TMPL_IF COMMENTS>
         <li id="comments">
          <TMPL_VAR COMMENTS>
          <TMPL_IF ADDCOMMENTURL>
            <p class="addcomment">
       	      <a href="<TMPL_VAR ADDCOMMENTURL>">Publicar comentario</a>
            </p>
          <TMPL_ELSE>
     	      <p class="addcomment">Comentarios cerrados.</p>
          </TMPL_IF>
         </li>
         </TMPL_IF>
   
         <TMPL_IF OTHERLANGUAGES>
         <li>
         <a href="#otherlanguages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            Lenguajes:
         </a>
         <ul class="collapse list-unstyled" id="otherlanguages">
      	 <TMPL_LOOP OTHERLANGUAGES>
   	<li>
   	   <a href="<TMPL_VAR URL>"><TMPL_VAR LANGUAGE></a>
   	   <TMPL_IF MASTER>(master)<TMPL_ELSE>&nbsp;(<TMPL_VAR PERCENT>%)</TMPL_IF>
   	</li>
          </TMPL_LOOP>
         </ul>
         </li>
         </TMPL_IF>
      </ul>
   </nav>

   <button type="button" id="sidebarCollapse" class="btn btn-info edit-element" title="Toggle Sidebar">
      <i class="fa fa-angle-double-left"></i>
      <!-- <span>Toggle Sidebar</span> -->
   </button>

   </TMPL_UNLESS>


   <!-- Scripts -->

<TMPL_UNLESS DYNAMIC>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Plugin JavaScript -->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

   <TMPL_IF UNITE_GALLERY>
   <!-- Unitegallery -->
	<script src="/vendor/unitegallery/js/unitegallery.min.js"></script>
   <script src='/vendor/unitegallery/themes/<TMPL_VAR UNITE_GALLERY>/ug-theme-<TMPL_VAR UNITE_GALLERY>.js'></script> 
   </TMPL_IF>
    
	<!-- Custom scripts for this template -->
	<script src="/js/creative.js"></script>
	
   <script type="text/javascript">
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
         });
      });
		$('#content p img').each(function(){
		   console.log("imagen!");
		   var epigrafe =  $(this).attr('alt');
		   console.log("epigrafe: "+epigrafe);
			if ( epigrafe ){
			   console.log("appending!");
				$(this).after('<small class="epigrafe">'+epigrafe+'</small>');
			}
		});
      <TMPL_IF DEFAULT_VIDEO>
         $('#video-container').hover( 
            function(){ 
               $('#play-icon').addClass('visible');
            }, 
            function(){ 
               $('#play-icon').removeClass('visible'); 
            }
         ).click(
            function(){
               var video = $('#default-video');
               var icon = $('#play-icon');
               if (video.get(0).paused) { 
                  video.get(0).play();
                  icon.removeClass('fa-play-circle');
                  icon.addClass('fa-pause-circle');
               } else {
                  video.get(0).pause();
                  icon.removeClass('fa-pause-circle');
                  icon.addClass('fa-play-circle');
               }
            }
         );        
      </TMPL_IF>
      <TMPL_IF UNITE_GALLERY>
        	$(document).ready(function(){ 
     	      <TMPL_IF GALLERY_1>
              	$("#<TMPL_VAR GALLERY_1>").unitegallery(); 
		      </TMPL_IF>
     	      <TMPL_IF GALLERY_2>
              	$("#<TMPL_VAR GALLERY_2>").unitegallery(); 
		      </TMPL_IF>
     	      <TMPL_IF GALLERY_3>
             	$("#<TMPL_VAR GALLERY_3>").unitegallery(); 
		      </TMPL_IF>
     	      <TMPL_IF GALLERY_4>
             	$("#<TMPL_VAR GALLERY_4>").unitegallery(); 
		      </TMPL_IF>
         }); 
      </TMPL_IF>
      
   </script>
</TMPL_UNLESS>
<script>
$(function () { 
    $('input[name="_submit"]').addClass('btn btn-default'); 
    $('textarea, input[type="text"]').addClass('form-control');
    $('.toc').addClass('panel-body').wrap('<div class="panel panel-default"></div>')
        .parent().prepend('<div class="panel-heading"><div class="panel-title">Table of Contents</div></div>');
});

</script>
<!-- page.tmpl -->
</body>
</html>