<!DOCTYPE html>
<html lang="<TMPL_IF LANG_CODE><TMPL_VAR LANG_CODE><TMPL_ELSE>es</TMPL_IF>">
<TMPL_INCLUDE NAME="includes/head.tmpl">
<body class="<TMPL_IF DYNAMIC>editing<TMPL_ELSE>post</TMPL_IF><TMPL_IF BODY_CLASS> <TMPL_VAR BODY_CLASS></TMPL_IF>">
	<hr id="page-top" style="display:none;">
   <!-- Standart Page -->
   <!-- Navigation -->
<TMPL_UNLESS DYNAMIC>
   <nav id="mainNav" class="topmenu navbar navbar-expand-lg navbar-light fixed-top">
	<TMPL_INCLUDE NAME="includes/top_menu.tmpl">
   </nav>
</TMPL_UNLESS>

   <!-- Page! -->

	<div class="page">
		<TMPL_UNLESS DYNAMIC>
		<div id="blog-logo-w"></div>
      </TMPL_UNLESS>	
	   <div class="pageheader">
         <div class="container">
          <div class="title-wrapper">
            <TMPL_IF PARENTLINKS>
            <TMPL_UNLESS DYNAMIC>
            <div class="bbh-breadcrumb">
          	   <TMPL_IF LANG_EN>
          	   <a href="/en.html">bibliohack</a> / <a href="/posts/en.html">posts</a>
          	   <TMPL_ELSE>
          	   <TMPL_LOOP PARENTLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> / </TMPL_LOOP>
          	   <!-- <span class="active"><TMPL_VAR TITLE></span> -->
           	   </TMPL_IF>
            </div>
            </TMPL_UNLESS>	
            </TMPL_IF>	
            <h1><TMPL_VAR TITLE></h1>
        		<TMPL_UNLESS DYNAMIC>
            <TMPL_IF SUMMARY>
            <div class="summary"><TMPL_VAR SUMMARY></div>
            </TMPL_IF>	
            </TMPL_UNLESS>
            <!-- <TMPL_IF ISTRANSLATION>&nbsp;(<TMPL_VAR PERCENTTRANSLATED>%)</TMPL_IF> -->
          </div>
         </div>
		</div>
		<div id="pagebody">
			<div class="container">
				<TMPL_UNLESS DYNAMIC>
			    <div class="meta-wrapper">
			    	<div class="share"><a href="#"><i class="fa fa-share-alt"></i> Compartir</a></div>
					<TMPL_IF AUTHOR>
			    	<img class="author-icon" src="/img/authors/<TMPL_VAR AUTHOR>.png">
			    	<div class="author-name"><TMPL_VAR AUTHOR></div>
		    		<TMPL_ELSE>
			    	<img class="author-icon" src="/img/authors/bibliohack.png">
			    	<div class="author-name">Bibliohack</div>
			   	</TMPL_IF>
			    	<div class="publication-date"><TMPL_VAR CTIME></div>
				 </div>
				</TMPL_UNLESS>
			  	 <div id="default-media">
               <TMPL_IF DYNAMIC>
			  	     <TMPL_IF DEFAULT_VIDEO>
     			  	   <div style="font-family: monospace;">
                     default-video: <TMPL_VAR DEFAULT_VIDEO>
                  </div>
			  	     </TMPL_IF>		  	      
  			  	     <TMPL_IF DEFAULT_IMG>               
   			  	   <div style="font-family: monospace;">
   			  	      <img style="max-width: 120px; margin-right: 15px;" src="<TMPL_VAR DEFAULT_IMG>_small.jpg">default-img: <TMPL_VAR DEFAULT_IMG>
   		  	      </div>
			  	     </TMPL_IF>
			  	     
			  	   <TMPL_ELSE>

		  	        <TMPL_IF DEFAULT_VIDEO>
			  	      <div id="video-container" style="position:relative;">
			  	         <i id="play-icon" class="fa fa-play-circle"></i>
			  	         <video id="default-video" <TMPL_IF DEFAULT_VIDEO_POSTER>poster="<TMPL_VAR DEFAULT_VIDEO_POSTER>"</TMPL_IF>>
			  	            <source src="<TMPL_VAR DEFAULT_VIDEO>" type="video/mp4">
			  	         </video> 
			  	      </div>
			  	      <TMPL_IF DEFAULT_VIDEO_ALT>
			  	      <p class="epigrafe"><TMPL_VAR DEFAULT_VIDEO_ALT></p>
			  	      </TMPL_IF>
			  	     <TMPL_ELSE>
  			  	      <TMPL_IF DEFAULT_IMG>
			  	        <div class="default-img" style="background-image: url(<TMPL_VAR DEFAULT_IMG>_default.jpg);"></div>
			  	       <TMPL_IF DEFAULT_IMG_ALT>
			  	        <p class="epigrafe"><TMPL_VAR DEFAULT_IMG_ALT></p>
			  	       </TMPL_IF>
			  	      </TMPL_IF>
			  	     </TMPL_IF>
			  	     
               </TMPL_IF>
			  	 </div>
				<TMPL_UNLESS DYNAMIC>
  			    <div class="meta-wrapper movil">
  			    	<div class="share"><a href="#"><i class="fa fa-share-alt"></i> Compartir</a></div>
  					<TMPL_IF AUTHOR>
  			    	<img class="author-icon" src="/img/authors/<TMPL_VAR AUTHOR>.png">
  			    	<div class="author-name"><TMPL_VAR AUTHOR></div>
  		    		<TMPL_ELSE>
  			    	<img class="author-icon" src="/img/authors/bibliohack.png">
  			    	<div class="author-name">Bibliohack</div>
  			   	</TMPL_IF>
  			    	<div class="publication-date"><TMPL_VAR CTIME></div>
  				 </div>
				</TMPL_UNLESS>
			  <div id="content">  
			   <TMPL_VAR CONTENT>
			  </div>
			  		  
			  <TMPL_UNLESS DYNAMIC>
			   <TMPL_IF TRANSLATED_TAGS>
			    <TMPL_IF LANG_EN>
			    <div class="tags">
			     <TMPL_LOOP TRANSLATED_TAGS><span>#<a href="/tags/<TMPL_VAR TAG>/en.html"><TMPL_VAR TRANSLATED></a></span> </TMPL_LOOP>	
			    </div>
			    </TMPL_IF>
			   <TMPL_ELSE>
			    <TMPL_IF TAGS>
				 <div class="tags">
		          <TMPL_LOOP TAGS><span>#<TMPL_VAR LINK></span> </TMPL_LOOP>
				 </div>
			    </TMPL_IF>
			   </TMPL_IF>

			   <TMPL_VAR TRAILS>
			  
			  </TMPL_UNLESS>
			  
			  <TMPL_IF BACKLINKS>
			   <div id="backlinks">Enlaces:
			   <TMPL_LOOP BACKLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> </TMPL_LOOP>
			   <TMPL_IF MORE_BACKLINKS>
			   <span class="popup">...<span class="balloon">
			    <TMPL_LOOP MORE_BACKLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></TMPL_LOOP>
			   </span></span>
			   </TMPL_IF>
			  </TMPL_IF>
			  
           <TMPL_INCLUDE NAME="includes/cc.tmpl">		
         </div>
      </div>
      <div id="ajax_content"></div>
   </div>

   <!-- Footer -->
	<TMPL_INCLUDE NAME="includes/footer.tmpl">
	
   <!-- Sidebar -->
   <TMPL_UNLESS DYNAMIC>
   <nav id="sidebar" class="edit-element">
      <!-- <div class="sidebar-header"><h3>Bootstrap Sidebar</h3></div> -->
	  <TMPL_IF HAVE_ACTIONS>
		<!-- sidebar actions -->
      <TMPL_INCLUDE NAME="includes/sidebar_actions.tmpl">
	  </TMPL_IF>
		<!-- sidebar components -->
      <TMPL_INCLUDE NAME="includes/sidebar_components.tmpl">
   </nav>
   <button type="button" id="sidebarCollapse" class="btn btn-info edit-element" title="Toggle Sidebar">
      <i class="fa fa-angle-double-left"></i>
      <!-- <span>Toggle Sidebar</span> -->
   </button>
   </TMPL_UNLESS>

   <!-- Scripts -->

	<TMPL_UNLESS DYNAMIC>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Plugin JavaScript -->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

   <TMPL_IF UNITE_GALLERY>
   <!-- Unitegallery -->
	<script src="/vendor/unitegallery/js/unitegallery.min.js"></script>
   <script src='/vendor/unitegallery/themes/<TMPL_VAR UNITE_GALLERY>/ug-theme-<TMPL_VAR UNITE_GALLERY>.js'></script> 
   </TMPL_IF>
    
	<!-- Custom scripts for this template -->
	<script src="/js/creative.js"></script>
	
   <script type="text/javascript">
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
         });
      });
		$('#content p img').each(function(){
		   console.log("imagen!");
		   var epigrafe =  $(this).attr('alt');
		   console.log("epigrafe: "+epigrafe);
			if ( epigrafe ){
			   console.log("appending!");
				$(this).after('<small class="epigrafe">'+epigrafe+'</small>');
			}
		});
      <TMPL_IF DEFAULT_VIDEO>
         $('#video-container').hover( 
            function(){ 
               $('#play-icon').addClass('visible');
            }, 
            function(){ 
               $('#play-icon').removeClass('visible'); 
            }
         ).click(
            function(){
               var video = $('#default-video');
               var icon = $('#play-icon');
               if (video.get(0).paused) { 
                  video.get(0).play();
                  icon.removeClass('fa-play-circle');
                  icon.addClass('fa-pause-circle');
               } else {
                  video.get(0).pause();
                  icon.removeClass('fa-pause-circle');
                  icon.addClass('fa-play-circle');
               }
            }
         );        
      </TMPL_IF>
      <TMPL_IF UNITE_GALLERY>
        	$(document).ready(function(){ 
     	      <TMPL_IF GALLERY_1>
              	$("#<TMPL_VAR GALLERY_1>").unitegallery(); 
		      </TMPL_IF>
     	      <TMPL_IF GALLERY_2>
              	$("#<TMPL_VAR GALLERY_2>").unitegallery(); 
		      </TMPL_IF>
     	      <TMPL_IF GALLERY_3>
             	$("#<TMPL_VAR GALLERY_3>").unitegallery(); 
		      </TMPL_IF>
     	      <TMPL_IF GALLERY_4>
             	$("#<TMPL_VAR GALLERY_4>").unitegallery(); 
		      </TMPL_IF>
         }); 
      </TMPL_IF>
		<TMPL_IF AJAX_CONTENT>
			$(document).ready(function(){
				$("#ajax_content").load("/ajax/<TMPL_VAR AJAX_CONTENT>_<TMPL_IF LANG_CODE><TMPL_VAR LANG_CODE><TMPL_ELSE>es</TMPL_IF>", function (){
				   // remove teaser if the same page as main or remove last 
				   // element to avoid breaking the grid
					var samePage = $("#ajax_content #<TMPL_VAR PAGEID>");
					if ( samePage.length ){
						samePage.remove();
						console.log('ajax_content: removed #<TMPL_VAR PAGEID>');
					} else {
						$("#ajax_content .postlist-item").last().remove();
					 	console.log('ajax_content: removed last item');
					}
				});				
			});
		</TMPL_IF>
   </script>
	</TMPL_UNLESS>
	<script>
		$(function () { 
    		$('input[name="_submit"]').addClass('btn btn-default'); 
    		$('textarea, input[type="text"]').addClass('form-control');
    		$('.toc').addClass('panel-body').wrap('<div class="panel panel-default"></div>')
        		.parent().prepend('<div class="panel-heading"><div class="panel-title">Table of Contents</div></div>');
		});
	</script>
<!-- page.tmpl -->
</body>
</html>
