<!DOCTYPE html>
<html lang="<TMPL_IF LANG_CODE><TMPL_VAR LANG_CODE><TMPL_ELSE>es</TMPL_IF>">
<TMPL_INCLUDE NAME="includes/head.tmpl">
<body class="postlist <TMPL_VAR BODY_CLASS>">
	<hr id="page-top" style="display:none;">
   <!-- Postlist Page -->
   <!-- Navigation -->
   <nav id="mainNav_ns" class="topmenu navbar navbar-expand-lg navbar-light fixed-top">
	<TMPL_INCLUDE NAME="includes/top_menu.tmpl">
   </nav>

   <!-- Page -->

	<div class="page">

	   <div class="pageheader">
         <div class="container">
          <div class="title-wrapper">
            <TMPL_IF PARENTLINKS>
            <div class="bbh-breadcrumb">
          	   <TMPL_LOOP PARENTLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> / </TMPL_LOOP>
           	   <span class="active"><TMPL_IF HASHTAG>#<TMPL_VAR HASHTAG><TMPL_ELSE><TMPL_VAR TITLE></TMPL_IF></span>
            </div>
            </TMPL_IF>	
            <TMPL_IF POSTLIST_HOME>	
            <h1>Bibliohack Blog</h1>
	    		<TMPL_ELSE>            
            <h1><TMPL_VAR TITLE></h1>
            </TMPL_IF>	
            <!-- <TMPL_IF ISTRANSLATION>&nbsp;(<TMPL_VAR PERCENTTRANSLATED>%)</TMPL_IF> -->
            <TMPL_UNLESS DYNAMIC>
             <TMPL_IF SUMMARY>
            <div class="summary"><TMPL_VAR SUMMARY></div>
             </TMPL_IF>	
            </TMPL_UNLESS>
          </div>
         </div>
		</div>
		<div id="pagebody">
			<div class="container">
			  <div id="list-content">
			  	<TMPL_IF DEFAULT_IMG>
			  	 <div>
			  	   <img class="default-img" src="<TMPL_VAR DEFAULT_IMG>" />
			  	   <TMPL_IF DEFAULT_IMG_ALT>
			  	   <p class="epigrafe"><TMPL_VAR DEFAULT_IMG_ALT></p>
			  	   </TMPL_IF>
			  	 </div>
			  	</TMPL_IF>
			   <TMPL_VAR CONTENT>
			  </div>
			  
			  <TMPL_VAR TRAILS>
<!--			
			  <TMPL_IF BACKLINKS>
			   <div id="backlinks">Enlaces:
			   <TMPL_LOOP BACKLINKS><span href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a> </TMPL_LOOP>
			   <TMPL_IF MORE_BACKLINKS>
			   <span class="popup">...<span class="balloon">
			    <TMPL_LOOP MORE_BACKLINKS><a href="<TMPL_VAR URL>"><TMPL_VAR PAGE></a></TMPL_LOOP>
			   </span></span>
			   </TMPL_IF>
			  </TMPL_IF>
-->		
         </div>
      </div>
   </div>

   <!-- Footer -->
	<TMPL_INCLUDE NAME="includes/footer.tmpl">	

   <!-- Sidebar -->
   <TMPL_UNLESS DYNAMIC>
   <nav id="sidebar" class="edit-element">
      <!-- <div class="sidebar-header"><h3>Bootstrap Sidebar</h3></div> -->
	  <TMPL_UNLESS ISTRANSLATION>
		<form action="/ikiwiki.cgi" method="get">	
		  <input type="hidden" name="do" value="blog" />
		  <input type="hidden" name="from" value="posts" />
		  <input type="hidden" name="subpage" value="1" />
		  <div class="form-group">
			<label><TMPL_IF LANG_EN>New post<TMPL_ELSE>Nuevo post</TMPL_IF>:</label>
			<input class="form-control" name="title" />
		  </div>
 		  <input type="submit" class="btn btn-primary" value="<TMPL_IF LANG_EN>Create<TMPL_ELSE>Crear</TMPL_IF>" />
		</form>
	  </TMPL_UNLESS>
	  <TMPL_IF HAVE_ACTIONS>
		<!-- sidebar actions -->
      <TMPL_INCLUDE NAME="includes/sidebar_actions.tmpl">
	  </TMPL_IF>
		<!-- sidebar components -->
      <TMPL_INCLUDE NAME="includes/sidebar_components.tmpl">
   </nav>
   <button type="button" id="sidebarCollapse" class="btn btn-info edit-element" title="Toggle Sidebar">
      <i class="fa fa-angle-double-left"></i>
      <!-- <span>Toggle Sidebar</span> -->
   </button>
   </TMPL_UNLESS>

   <!-- Scripts -->

<TMPL_UNLESS DYNAMIC>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Plugin JavaScript -->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
	
	<!-- Custom scripts for this template -->
	<script src="/js/creative.js"></script>
	
   <script type="text/javascript">
      $(document).ready(function () {
         $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
         });
      });
   </script>
</TMPL_UNLESS>
<script>
$(function () { 
    $('input[name="_submit"]').addClass('btn btn-default'); 
    $('textarea, input[type="text"]').addClass('form-control');
    $('.toc').addClass('panel-body').wrap('<div class="panel panel-default"></div>')
        .parent().prepend('<div class="panel-heading"><div class="panel-title">Table of Contents</div></div>');
});
</script>
<!-- page_postlist.tmpl -->
</body>
</html>