body,
html {
/*  
  width: 100%;
  height: 100%;
*/
}

body {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f0e9;
  line-height: 1.65;
  font-weight: 300;
}

p:empty {
	display: none;
}

body.landing-page {  
  background-image: url(/img/home/mendoza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #882D2D;
}

hr{
	margin: 3rem auto;
}

hr.light {
  border-color: #fff;
}

a {
  color: #882D2D;
  /*
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  */
}

a:hover {
  color: #882d2d;
}

b, strong {
    font-weight: 700;
}

.edit-element {
	display: none;
}

.visible {
	display: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; 
  font-weight: bold;
}

.bg-primary {
  background-color: #882D2D !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-light {
  background-color: #f2f0e9 !important;
  margin: 0;
}



.bibliohack_bkg {
    max-width: 635px;
    margin: 0 -17px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.bibliohack_bkg-mobile {
	margin: 0 -25px;
	margin-bottom: 3rem;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.section-block {
	padding: 6rem 0;
	background: white;
}

.section-block > p {
	display: none; /* parrafos extra que imprime markdown */
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: #212529;
}

.navbar {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
/*  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
/*
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
*/
}

.navbar .navbar-brand {
/*  font-weight: 700;
  text-transform: uppercase;
  color: #882D2D;
  width: 233px;
  position: relative;
*/
  height: 43px;
  padding:0; margin: 0;

}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  /* color: #882d2d; */
}

.navbar .navbar-nav > li.nav-item > a.nav-link {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}
.navbar .navbar-nav > li.nav-item > a.nav-link.lang {
  font-weight: 300;
}
.navbar .navbar-nav > li.nav-item > a.nav-link:focus {
}

.navbar .navbar-nav > li.nav-item > a.nav-link:hover,
.navbar .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #882D2D;
}

.navbar .navbar-nav > li.nav-item > a.nav-link.active,
.navbar .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #882D2D !important;
  background-color: transparent;
}

.navbar .navbar-nav > li.nav-item > a.nav-link.active:hover,
.navbar .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

#mainNav {
  border-color: transparent;
  background-color: transparent;
}


@media (max-width: 991px) { /* navbar collapsed */

	.navbar-brand svg{
		fill: #fff;
	}
	.navbar-shrink .navbar-brand svg {
	   fill: #000;
	}

	#mainNav.navbar-shrink {
		background-color: rgb(255, 255, 255, 1);
	}
	.topmenu .navbar-nav {
		padding-top: 0;
		margin-top: 10px;
		background-color: white;
	}
	.topmenu #navbarResponsive {
		margin: 0px -15px;
	}
	.topmenu .navbar-nav li:first-child {
	   border-top: 1px solid rgba(0, 0, 0, 0.1);
	   padding-top: 2rem;
	}
	.topmenu .navbar-nav li:last-child {
	   padding-bottom: 2rem;
	}
	.topmenu .navbar-nav > li.nav-item > a.nav-link {
	    font-size: 1.4rem;
	    font-weight: normal;
	    text-align: center;
	    padding: 1.5rem 0;
	}
	#mainNav_ns .navbar-brand svg {
	    fill: #000;
	}
	
}

@media (min-width: 992px) { /* desktop no tablet */

  #mainNav .navbar-brand svg{
  		fill: transparent;
  }
  #mainNav_ns .navbar-brand svg {
  		fill: #000;
  }
  /*
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  */
  /*
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  */
  .navbar .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgba(255, 255, 255, 1);
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  /*
  #mainNav.navbar-shrink .navbar-brand {
    color: #882D2D;
  }
  */
  /*
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #882d2d;
  }
  */
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #882D2D;
  }
  
  #mainNav.navbar-shrink .navbar-brand svg {
  		fill: #000;
  }
  
}

.navbar-toggler {
    border: none;
    border-radius: unset;
    padding: 6px 8px 8px 8px;
    cursor: pointer;
}

.navbar-toggler .bar {
    width: 18px;
    height: 3px;
    background-color: white;
    padding: 0;
    margin: 4px 0 ;
    border: none;
}

#mainNav_ns .navbar-toggler .bar { background-color: black; }

#mainNav.navbar-shrink .navbar-toggler .bar { background-color: black; }

.navbar-toggler .bar:hover {
    background-color: red;
}

/* ---- */

header.masthead {
  /* padding-top: 10rem;
  padding-bottom: calc(10rem - 56px); */
  position: relative;
}

header.masthead #slider-epigrafes {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	line-height: 1.3;
	padding: 8px 10px 8px;
	background: rgba(0,0,0,0.5);
}
header.masthead #slider-epigrafes span{
	font-size: 17px;
	text-shadow: 1px 1px 1px rgb(0,0,0);
	letter-spacing: 0.3px;
	font-weight: 400;
	opacity: 1;
}
/*
header.masthead #slider-epigrafes h3{
	font-weight: normal;
	border-top: 1px solid;
	padding-top: 5px;
	margin-top: 10px;
}
*/
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead .degrade {
  background: rgba(255, 255, 255, 0);
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh; 
    /* min-height: 650px; */
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(136, 45, 45, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
/*  font-family:  'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (max-width: 767px) {
  .portfolio-box {
    margin-bottom: 30px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption {
    position: static;
    background-color: transparent;
    opacity: 1;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: static;
    top: unset;
    transform: none;
  }  
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 12px 5px;
    color: rgb(136,45,45);
    /* text-align: left; */
    /* padding-left: 20px; */
  }
}

.text-primary {
  color: #882D2D !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
/*  font-family:  'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #882D2D;
  border-color: #882D2D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #752727 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

/* ---------- landing page custom sections ------------ */

.section-block.top {
	padding-bottom: 2rem;
	font-family: 'Merriweather', serif;
}

.section-block.top p {
	font-size: 17px;
}

.section-block.top p b,
.section-block.top p strong {
	color: #882D2D;
}

.section-block.ejes {
	padding-bottom: 1rem;
}

.ejes-header hr {
	margin-bottom: 6rem;
}

.eje-bloque {
	margin: 0 0 7rem;
}

.wrapper-texto-eje {
	color: white;
	background-color: #882D2D;
}

.texto-eje {
	padding: 45px 60px !important;
	font-size: 17.5px;
	letter-spacing: 0.35px;
}

.texto-eje h3 {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1.3rem;
}

.texto-eje p {
	margin-bottom: 0;
}

.section-block.logos {
    background-color: rgba(136, 45, 45, 0.9 ) !important;
}

.section-block.logos img {
	max-height: 70px;
	margin: 25px 0;
}

.section-block.bullets {
    background-color: rgba(242, 240, 233, 0.9) !important;
}

.section-text {
   font-size: 17.5px;
   letter-spacing: 0.35px;
	margin: 3rem 0 5rem;
}
.section-block.bg-primary .section-text {
	color: white;
}

/* */

#top_logo {
	text-indent: -9999px;
	width: 250px;
	height: 250px;
	background: url(../img/bh0.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-color: transparent;
	margin: -50px 0 0 60px;
}

@media (max-width: 991px) {
	#top_logo {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	header.masthead {
   	padding-top: 0;
		/* padding-bottom: 30rem; */
		height: 100vh;
	}
	.backgroundSlideshowLayer{
	}
}

@media (min-width: 768px) { /* desktop */
	.hide-if-desktop {
		display: none;
	}
}
@media (max-width: 767px) {
	.hide-if-mobile {
		display: none;
	}

	.section-block {
		padding-bottom: 4rem;
		padding-top: 4rem;
	}
	.section-block .row {
		margin-left:0; margin-right:0;
	}
	header.masthead {
   	padding-top: 0;
		/* padding-bottom: 30rem; */
		height: 70vh;
	}
	.backgroundSlideshowLayer{
		height: 70vh;
	}
	.scroll-downs.js-scroll-trigger{
		display: none;
	}
	.section-block.top p {
		font-size: 16px;
	}
	.section-block.ejes {
	    padding-bottom: 0;
	}
	.texto-eje {
	    padding: 3rem 1.6rem 3rem 2rem !important;
	    font-size: 17.5px;
	    letter-spacing: 0.35px;
	}
	.texto-eje p {
		font-weight: normal;
		font-size: 16px;
	}
	/* #que_es_bibliohack .container, */
	.eje-bloque .container {
	    margin-right:0;
	    margin-left:0;
	    padding-right:0;
	    padding-left:0;
	}
	.eje-bloque {
	    margin: 0 0 0 0 ;
	}
	.wrapper-texto-eje {
	    color: #212529;
	    background-color: #f2f0e9;
	}
	hr {
	    border-width: 0;
		 max-width: inherit;
	    margin: 1rem auto 3rem;
	}
	.ejes hr {
	    margin-bottom: 2rem;
	}
	#contacto hr {
	    margin-bottom: 0;
	}
}

/* ------------------ */


.slide .carousel-item {
  /* height: 65vh; */
  min-height: 350px; 
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* margin-bottom: 30px; */
}

.slide .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slide .carousel-caption p  {
	margin: 0;
	color: #fff;
	font-weight: 400;
	padding: 8px 13px 9px;
}

/* blog */

.pageheader {
   background-color: #882D2D;
  	padding-top: 8rem;
  	padding-bottom: 3rem;
}

body.postlist .pageheader {
   background-color: transparent;
  	padding-top: 7rem;
  	padding-bottom: 1rem;
  	border-bottom: 1px solid rgba(33, 37, 41, 0.1)
}

body.postlist .tags > span {
   margin-right: 2px;
}


body.post .tags span { /* tags in a bottom of pages */
	background-color: #212529;
	color: white;
	padding: 2px 11px 4px 9px;
	line-height: 1.5;
	margin: 0 1px 0 0;
	font-size: 1.2rem;
	font-weight: normal;
	border-radius: 6px;
}
body.post .tags span a {
    color: white;
    letter-spacing: 0.4px;
}
body.post .tags span a:hover {
    text-decoration: none;
    opacity: 0.8;
}

body.postlist.taglist .pageheader .container .summary {
	margin: 1rem 0 2rem;
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: normal;
	color: #212529;
	padding-top: 0;
	max-width: 500px
}

#ajax_content .card-footer,
body.postlist .card-footer {
	line-height: 1.5rem;
	font-size: 1.2rem;
	background-color: transparent;
	border-top: none;
}

#ajax_content .card,
body.postlist .card {
	border: none;
}

body.postlist .card .publicado {
	font-size: 0.9rem;
	color: #ccc2c2 !important;
}
.card .teaserline {
	font-size: 0.97rem;
	margin: 0;
	color: #7b7777;
	line-height: 1.5;
}
.postlist .tags a::before{
	content: "#";
}

body.post .pageheader .container {
   max-width: 768px;
}  


.page #blog-logo-w {
	background-color: transparent;
	padding: 0;
	background-image: url(../img/bh-cuad-w.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 125px;
	background-position-y: center;
	position: absolute;
	top: -8px;
	left: 42px;
	height: 125px;
	opacity: 0.35;
}

.pageheader .container .title-wrapper {
}
.pageheader .container h1,
.pageheader .container h2 {
/*	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
	font-weight: bold;
	line-height: 2.5rem;
	font-size: 2rem;
	color: #f2f0e9;
}

body.postlist.taglist .pageheader .container h1 {
	display: none;
}

body.postlist .pageheader .container h1,
body.postlist .pageheader .container h2 {
	color: rgba(0,0,0,0.7);
}
.pageheader .container .summary {
	color: white;
	padding: 1rem 0;
	font-size: 1.3rem;
	line-height: 1.6;
}
.epigrafe {
   font-size: 1rem !important;
   margin-top: -1.5rem;
   margin-bottom: 4rem;
	opacity: 0.75;
}

@media (max-width: 767px) {
	.pageheader .container h1, 
	.pageheader .container h2 {
	    line-height: 1.2em;
	    font-size: 1.9rem;
	}
	.pageheader .container .summary {
	    padding: 1rem 0;
	    font-size: 1.2rem;
	    line-height: 1.4;
	}
	.epigrafe {
		font-size: 0.94rem;
		margin-top: -2.32em;
		line-height: 1.4;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
}


.bbh-breadcrumb {
	color: rgb(255,255,255,0.4);
/*	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.bbh-breadcrumb a {
	color: rgb(255,255,255,0.7);
}
body.postlist .bbh-breadcrumb {
	color: rgb(0,0,0,0.4);
}
body.postlist .bbh-breadcrumb a {
	color: rgb(0,0,0,0.7);
}
#pagebody {
    padding: 5rem 0 3rem;
    font-size: 20px;
}

body.post #pagebody {
	padding-bottom: 5rem;
}
body.post #pagebody > .container {
	max-width: 768px;
	padding: 0;
}

#content {
   /* font-family: 'Merriweather', serif; */
	padding-bottom: 1.15rem;
   color: #212529;
   font-size: 1.25rem;
   font-weight: 400;
}

#content .copy-paste {
   background: white;
   padding: 20px 35px;
   margin: 4rem 0;
   font-weight: 300;
}
#content .copy-paste h2 {
   margin-top: 0.75rem;
}

@media (max-width: 767px) {
	#content .copy-paste {
	   padding: 15px 1rem;
	   margin: 2rem -0.85rem;
	}
	#content .copy-paste h2 {
   	margin-top: 1rem;	
   }
}

.meta-wrapper {
	font-size: 1rem;
   margin-top: -3rem;
	margin-bottom: 2.5rem;
}
.meta-wrapper.movil{
	display: none;
}

.meta-wrapper .share {
	float: right;
}

.meta-wrapper img {
	width: 45px;
	margin: 3px 8px 0 0;
	float: left;
}
.meta-wrapper .author-name {
   font-weight: bold;
   margin-bottom: -4px;
}
.meta-wrapper .publication-date {
	font-style: italic;
}


.unite-gallery.tiles {
	padding: 3rem 0 3rem;
	margin-left: -3px;
}

#content big {
   font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
   font-size: 1.25rem;
   font-weight: bold;
   display: insline-block;
   padding-bottom: 2rem;
}
@media (max-width: 767px) {
	#content big {
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.3;
	}
}

#content img {
   max-width: 700px;
   margin: 2rem 0;
}
#content small.epigrafe {
	display: block;
	margin-bottom: 2rem;
/*   font-family: 'IBM Plex Sans', sans-serif; */ 
   max-width: 700px;
}
#default-media .default-img {
   width: 768px;
   margin: 0 0 2rem;
   height: 446px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
@media (max-width: 767px) {
	body.post #pagebody {
		padding-top: 0;
	}
	.meta-wrapper{
		display: none;
	}
	.meta-wrapper.movil{
		display: block;
		margin-top: 2rem; margin-bottom: 2rem;
		padding-right: 0.8rem;
	}
	#default-media .default-img {
	   width: 100%;
	   height: 50vh;
	}
}
#default-media video#default-video {
   max-width: 900px;
   width: 100%;
}
#default-media > div {
   margin: 0 0 2rem;
}

#video-container {
	position: relative;
	display: inline-block;
	padding: 0;
	width: 100%;
	max-width: 900px;
}

#play-icon {
   position: absolute; 
   top: 50%; 
   opacity: 0;
   font-size: 100px;
   margin-top: -50px;
   color: white;
   display: inline-block;
   width: 100%;
   text-align: center;
}

#play-icon.visible {
   opacity: 0.9;
}
.pagedate {
	font-style: italic;
	color: #777;
}
#content blockquote {
    margin: 2rem 0 2rem 1rem;
    font-style: italic;
    font-size: 1.5rem;
    color: gray;
    border-left: 3px solid #ddd;
    padding: 0 0 0 1rem;
    font-family: 'Merriweather', serif;
}
#content hr {
	max-width: unset;
	margin: 3rem auto;
	border-color: #ccc;
}
#content ul {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
#content pre {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 1rem;
	color: #5b6773;
	background-color: white;
	padding: 1rem 1.5rem;
}

#content,
#content p {
	font-size: 1.1rem;
}

@media (max-width: 767px) {
	#content .copy-paste p {
		font-size: 1rem;
	}
}

#content h2,
#content h3 {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; 
    font-weight: bold;
    margin-top: 2.5rem;
}

#content h2 {font-size: 1.5rem; margin-bottom: 2rem;}
#content h3 {font-size: 1.3rem; margin-bottom: 1rem}

#content iframe {
	margin-top: 2rem;
	margin-bottom: 1rem;
}


/* editing */

body.editing .pageheader,
body.recentchanges .pageheader {
   background-color: #f2f0e9;
   background-image: url(../img/edit-bkgrd.png);
}

body.editing h1,
body.recentchanges h1 {
/*   font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
   font-size: 1.75rem !important;
   color: #aaa !important;
   padding-right: 1rem;
   padding-left: 1rem;
   font-weight: bold;
   background-color: #f2f0e9;
}

body.editing .bbh-breadcrumb,
body.recentchanges .bbh-breadcrumb {
    color: rgb(0,0,0,0.4);
    background-color: #f2f0e9;
    padding-left: 1rem;
}
body.editing .bbh-breadcrumb a,
body.recentchanges .bbh-breadcrumb a {
    color: rgb(0,0,0,0.3);
}

/* changelog */

body.recentchanges #content {
	width: auto;
	max-width: none;
}

.changelog {
	word-break: break-all;
	max-width: 400px;
}


/*
      SIDEBAR https://bootstrapious.com/tutorial/sidebar/index.html
*/
/*
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    bottom: 0;
    margin: 0;

    min-width: 250px;
    max-width: 250px;
    background: #212529;
    color: #fff;
/*    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;*/
    z-index: 9999;
    transition: all 0.3s;
}

#sidebar.active {
    right: 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(255,255,255,0.1)
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar a {
    color: #fff ;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar form,
#sidebar ul li a {
   padding: 0.66rem 2rem;
   font-size: 1.1em;
   display: block;
}

#sidebar ul li a:hover {
    color: #882D2D;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background-color: #882D2D; /* 6d7fcc; */
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*
a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
*/
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 767px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/* */

#sidebarCollapse {
   position: fixed;
   top: 50%;
   right: 0;
   z-index: 10000;
   border-radius: 0;
   opacity: 0.5;
   background-color: #212529;
   font-size: 1.5rem;
}

#sidebarCollapse:hover {
   opacity: 1;
}


/* cambios recientes */

#change- {
   font-family: monospace;
   font-size: 0.85rem;
}

.table-bordered {
    border: 1px solid #777;
}

.table td, .table th {
    padding: .25rem .75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

/* edicion */

textarea {
   font-family: monospace;
}

input#attachments {
   display: block;
   margin: 1rem;
}

input#attachment {
   display: block;
}

a[href="#attachments"] {
   display: block;
/*   font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
   font-weight: bold;
   padding: 1rem;
}

form .btn.btn-default {
   margin: 0.5rem;
}


/* post list - cards */

.edit-icon {
   position: absolute;
   top: 4px;
   color: white;
   right: 4px;
   opacity: 0.2;
}

.edit-icon:hover {
   opacity: 1;
} 


.card-title {
/*  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif; */
  font-weight: bold;
}

.card-top-bbh {
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-fluid-bbh {
   height: 230px;
   background-repeat: no-repeat;
   background-size: cover;
}

/* footer */

footer {
	background-color: #212529;
	color: white;
	padding-top: 4rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.5;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    opacity: 0.7;
}

footer .leyenda b {
   display: block;
	font-size: 1rem;
	margin-bottom: 0.15rem;
}
footer .leyenda span {
	font-size: 0.95rem;
}

.logo-footer {
	width: 89px;
	margin-top: 0.1rem;
	margin-left: 2rem;
}

footer .nav-link {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

footer .nav-link .fa {
	margin-right: 8px;
	font-size: 1.4rem;
	vertical-align: text-bottom;
}

footer .footer-extra {
	font-size: 0.9rem;
}

footer .container.main {
	padding-bottom: 3rem;
}

footer .container.bottom-line {
}


/* scroll animation */

.scroll-downs {
  position: absolute;

  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto 13vh;
  width :34px;
  height: 55px;
}
.mousey {
	width: 5px;
	padding: 10px 13px;
	height: 35px;
	border: 4px solid
	rgba(255,255,255,0.7);
	border-radius: 25px;
	opacity: 0.75;
	box-sizing: content-box;
}

.mousey {
  animation: SeeMe 1s ease infinite;
}

@keyframes SeeMe {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.scroller {
  width: 5px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
/*  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite; */
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/* anchos */

@media (min-width:992px) {
	.container {
		max-width: 960px;
	}
	.slide .carousel-item {
	  min-height: 465px;
	}

}


@media (max-width: 991px) { /* navbar collapsed */
	img { max-width: 100% !important; }
	#blog-logo-w { display: none; }
	#pagebody > .container { padding: 0 1.2rem !important; }
	#pagebody #default-media { margin: 0 -16px;}
	#pagebody #default-media .epigrafe { padding: 1.2rem; margin-bottom: 1rem;}
	.pageheader { padding-top: 6rem; padding-bottom: 2rem; }
	.pageheader > .container .title-wrapper{
	    padding-left: 1.2rem; padding-right: 1.2rem;
	}
	#footer > .container > .row > div { text-align: center; margin: 1rem 0 0 0; }
	#footer > .container > .row > div > .nav-link { display: inline-block; line-height: 2em; }
	#footer .leyenda > span { font-size: 1rem; line-height: 2em; }
	#footer .leyenda > span > br { display: none; }
	#footer .logo-footer { margin: 0; }
}

@media (max-width: 767px) { /* phone */
	#footer .leyenda { padding: 0 2rem; }
	#pagebody > .container { padding: 0 1rem !important; }
	#content iframe { width: 100%; }
}

.pagelicense {
   margin-top: 3rem;
   font-size: 1rem;
   line-height: 1.4em;
   max-width: 38rem;
}

.pagelicense img{
	width: 72px;
	margin-bottom: 8px;
}

.pagecloud {
	margin: 2rem auto;
	max-width: 500px;
	text-align: justify;
	padding: 2rem 3rem;
	background-color: #882d2d;
}

.pagecloud > span {
	margin: 0 0.2rem;
}

.pagecloud > span,
.pagecloud > span a { 
   line-height: 2rem; 
   color: white;
	font-weight: normal;   
}

.smallestPC{ font-size: 1rem; }
.smallPC   { font-size: 1.25rem;}
.normalPC  { font-size: 1.6rem;}
.bigPC     { font-size: 1.8rem;}
.biggestPC { font-size: 2rem;}

/* */

#navbarResponsive.collapsing .show-if-collapse,
#navbarResponsive.show .show-if-collapse {
	display: inline;
}

.show-if-collapse {
	display: none;
}

/* Ajax content */

#ajax_content {
	background-color: white;
	padding: 5rem 0;
}
#ajax_content .ajax-postlist {
	max-width: 960px;
	margin: 0 auto;
}
#ajax_content h3, 
#ajax_content h4 {
	margin: 0 0 3rem;
}
#ajax_content .posts-link {
    text-align: right;
    font-size: 20px;
}

@media (max-width: 767px) {
	#ajax_content .row {
	  margin-left: 0;
	  margin-right: 0;
	}
}

/* trails */

.trails {
   margin: 3rem 0 0 0;
}

.trail {
   list-style: none;
   padding-left: 0;
}

.trailarrow {
   width: 1.5rem;
   display: inline-block;
}
